# Python
__pycache__/
*.py[cod]
*$py.class

# Virtualenv
venv/
env/
.venv/

# Env files / secrets
.env
.env.*

# Packaging
*.egg-info/
dist/
build/

# IDEs & OS
.vscode/
.idea/
*.swp
.DS_Store
Thumbs.db

# Database files
*.sqlite3
*.db

# Pytest
.pytest_cache/

# Logs
*.log
