{% extends "base.html" %}

{% block title %}Messages{% endblock %}

{% block content %}
<div class="row">
  <div class="col-12">
    <h1 class="notebook-heading mb-4">Messages</h1>
  </div>
</div>

<div class="row">
  <div class="col-md-8 mx-auto">
    <!-- Conversation list container (populated by JavaScript) -->
    <div id="conversation-list"></div>
  </div>
</div>

<script>
  window.CURRENT_USER_ID = {{ current_user.id }};
  window.SUPABASE_URL = "{{ config.SUPABASE_URL }}";
  window.SUPABASE_ANON_KEY = "{{ config.SUPABASE_ANON_KEY }}";
</script>
{% endblock %}

{% block scripts %}
{{ super() }}
<script src="{{ url_for('static', filename='js/chat.js') }}"></script>
{% endblock %}